*/{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 25px;
    
  }
  a{
    color: #003138;
    text-decoration: none;
  }
 h2{
  font-family: ailerons, helvetica;
  color: #003138;
  font-size: 1.5em;
 }
 h3{
  font-family: ailerons, helvetica;
  color: white;
  
 }
 
  .ul{
    display: flex;
    flex-direction: row;
    list-style:none;
    line-height: 2.8;
    }
  .nav-link{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 4vw;
      font-size: 20px;
  }
  
  #container{
    display: flex;
    flex-direction: column;
  }
  #header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 40px;
    font-family: ailerons, helvetica;
    color: #003138;
    align-items: flex-end;
    background-color: #c1ba3e;
    overflow: visible;
    position: fixed;
    top: 0;
  }
  #nav-bar{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }

    #ms{
        margin-left:15px;
        font-weight: bold;
    }
  #main{
      display: flex;
      flex-direction: column;
  }
  #home{
    display: flex;
    flex-direction: column;
    flex-basis: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(/images/2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  #msd{
      background-color: rgba(107, 105, 126, 0.795);
      font-family: ailerons, helvetica;
        color: white;
        text-align: right;
        font-size: 60px;
        padding-right: 10px;
        padding-left: 10px;
    }
#developer{
    font-family: ailerons, helvetica;
    color: white;
    text-align: right;
    font-size: 40px;
    padding-right: 10px;
    
}
#about-me{
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
  color: #003138;

}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  padding-top:10vh;
  padding-bottom: 10vh;
}
.skill{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:0;
  background-color: #003138 ;
  padding-top:20vh;
  padding-bottom: 20vh;
  
}
.icon{
  display: flex;
  justify-content:center;
  color: aliceblue;
  
}

